{% extends 'base.html.twig' %}

{% block body %}

<div class="bloc padding">
    <h1>Liste des offres</h1>
    
    <a class="retour" href="{{ path('admin') }}">Retour à l'index</a>
    
    <table class="table admin">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Entreprise</th>
                <th>Durée</th>
                <th class='description'>Description</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr onClick="javascript:document.location.href='{{ path('offer_show', {'id': offer.id}) }}'">
                <td>{{ offer.title }}</td>
                <td>{{ offer.organisation }}</td>
                <td>{{ offer.duration }}</td>
                <td class="description">{{ offer.description|slice(0, 100) }}...</td>
                <td>{{ offer.location }}</td>
                <td>
                    <a href="{{ path('offer_edit', {'id': offer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune entrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offer_new') }}">Nouvelle offre</a>
</div>
{% endblock %}
