{% extends 'base.html.twig' %}

{% block body %}
    <div id="OFFER">
        <div class="right">
            <div class="organisation">{{ offer.organisation }}</div>
            <div class="duration">{{ offer.duration }}</div>
            <div class="location">{{ offer.location }}</div>
        </div>
        <div class="left">
            <div class="title">{{ offer.type.name }} - {{ offer.title }} </div>
            <div class="description">{{ offer.description }}</div>
            <a class="retour" href="{{ path('offer_index') }}">Retour</a>
            <a class='edit' href="{{ path('offer_edit', {'id': offer.id}) }}">Editer</a>
            <div class="del" onclick="useModal('confirmDelete');">Supprimer</div>
        </div>
    </div>
    
    <div class="modal alert" id="confirmDelete" style="display:none">
        <div class="body">
            <div class="head">
                <h1>Voulez-vous vraiment supprimer l'offre ?</h1>
                <div class="close" onclick="this.parentNode.parentNode.parentNode.style.display = 'none';">
                    <div class="cross"></div>
                </div>
            </div>
            
            {{ include('admin/offer/_delete_form.html.twig') }}
        </div>
    </div>
    

    
{% endblock %}
