{% extends 'base.html.twig' %}

{% block title %}Testimony index{% endblock %}

{% block body %}
<div class="bloc padding">
    <h1>Témoignages</h1>

    <a class="retour" href="{{ path('admin') }}">Retour à l'index</a>

    <table class="table admin">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Statut</th>
                <th class='date'>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for testimony in testimonies %}
            <tr onClick="javascript:document.location.href='{{ path('testimony_show', {'id': testimony.id}) }}'">
                <td>{{ testimony.firstName }}</td>
                <td>{{ testimony.name }}</td>
                <td>{{ testimony.age }}</td>
                <td>{{ testimony.state }}</td>
                <td class='date'>{{ testimony.date ? testimony.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ testimony.content|slice(0, 100) }}...</td>
                <td>
                    <a href="{{ path('testimony_edit', {'id': testimony.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune entrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('testimony_new') }}">Nouveau</a>
</div>
{% endblock %}
