{% extends 'base.html.twig' %}

{% block title %}Testimony{% endblock %}

{% block body %}

<div class="bloc padding" id="TESTIMONY">
    <div class="fields">
        <p><span class='heading'>Nom : </span>{{ testimony.name }}</p>
        <p><span class='heading'>Prenom : </span>{{ testimony.firstName }}</p>
        <p><span class='heading'>Age : </span>{{ testimony.age }}</p>
        <p><span class='heading'>Etat : </span>{{ testimony.state }}</p>
        <p><span class='heading'>Date : </span>{{ testimony.date ? testimony.date|date('Y-m-d H:i:s') : '' }}</p>
        <p><span class='heading'>Contenu : </span>{{ testimony.content }}</p>
    </div>

    <a class="retour" href="{{ path('testimony_index') }}">Retour</a>
    <a class='edit' href="{{ path('testimony_edit', {'id': testimony.id}) }}">Editer</a>
    <div class="del" onclick="useModal('confirmDelete');">Supprimer</div>

    <div class="modal alert" id="confirmDelete" style="display:none">
        <div class="body">
            <div class="head">
                <h1>Voulez-vous vraiment supprimer le témoignage ?</h1>
                <div class="close" onclick="this.parentNode.parentNode.parentNode.style.display = 'none';">
                    <div class="cross"></div>
                </div>
            </div>
            
            {{ include('admin/testimony/_delete_form.html.twig') }}
        </div>
    </div>

</div>
    
{% endblock %}
