{% extends 'base.html.twig' %}

{% block body %}
<div class="bloc padding">

    <h2>{{ testimony.firstName }} {{ testimony.name }}, {{ testimony.age }} ans</h2>
    <p class="date">Fait le : {{ testimony.date|date("m/d/Y") }}</p>
    <div class="texte-standard">
   		{{ testimony.content|raw }}
    </div>
    <a href="{{ path('testimonies') }}">Retour</a>

</div>
{% endblock %}
