{% extends 'base.html.twig' %}

{% block title %}Point{% endblock %}

{% block body %}
    <div id="TESTIMONY" class='bloc padding'>
        <div class="fields">
            <p><span class="heading">Latitude :</span>{{ point.lat }}</p>
            <p><span class="heading">Longitude : </span>{{ point.lon }}</p>
            <p><span class="heading">Contenu : </span>{{ point.content }}</p>
        </div>
        <a class="retour" href="{{ path('map_index') }}">Retour</a>
        <a class='edit' href="{{ path('map_edit', {'id': point.id}) }}">Editer</a>
        <div class="del" onclick="useModal('confirmDelete');">Supprimer</div>
    </div>
    
    <div class="modal alert" id="confirmDelete" style="display:none">
        <div class="body">
            <div class="head">
                <h1>Voulez-vous vraiment supprimer le point ?</h1>
                <div class="close" onclick="this.parentNode.parentNode.parentNode.style.display = 'none';">
                    <div class="cross"></div>
                </div>
            </div>
            
            {{ include('admin/map/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
