{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h2>Ceci est la page index ✅</h2>
    <a href="{{ path("offers") }}">Voir les offres</a> <br>
    <a href="{{ path("map") }}">Voir la carte des iuts info</a> <br>
    <a href="{{ path("usefull_link") }}">Liens utiles</a> <br>
    <a href="{{ path("partnership") }}">Sponsor</a> <br>
    <a href="{{ path("post_formation") }}">Apres le dut</a> <br>
    <a href="{{ path("testimony_blog") }}">Temoignage</a> <br>
    <a href="{{ path("admin") }}">Administration</a> <br>




{% endblock %}
