<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Iut Informatique{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" type="text/css" href="{{ asset("style/style.css") }}">
        {% endblock %}
    </head>
    <body>
    	<div id="NAVBAR">
            <a href="{{ path("index") }}">
                <div class=logo>
                    Logo
                </div>
            </a>
            <div class="opennavbar" onclick="openNavbar(this, 'NAVBAR')">
                <div class=hamburger></div>
            </div>
            <div class=right>
                <a href="">
                    <div class=part><p>Formation</p></div>
                </a>
                <a href="{{ path('map') }}">
                    <div class=part><p>Carte des IUTs</p></div>
                </a>
                <a href="">
                    <div class=part><p>Revue de presse</p></div>
                </a>
                <a href="{{ path("usefull_link") }}">
                    <div class=part><p>Liens utiles</p></div>
                </a>
                <a href="{{ path("partnership") }}">
                    <div class="part"><p>Partenariats</p></div>
                </a>
                <a href="{{ path("offers") }}">
                    <div class="part"><p>Offres alternance / stage</p></div>
                </a>

            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	{# Ajouter tout les fichiers js communs aux page ici #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
        {% endblock %}
    </body>
</html>
